<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DIARY</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
    <!-- Show these two first links on the navbar, then show links whether the user is signed in or not -->
        <li class="<%= yield(:home) %>" ><%= link_to "Home", root_path %></li>
        <li class="<%= yield(:contact) %>" ><%= link_to "Contact", contact_path %></li>
    <!-- Show links on the navbar depending on the users signin/out/up status -->
        <% if user_signed_in? %>
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.email %>   <!-- I could use .name if declared on the migration -->
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">     
                   <li class="<%= yield(:signout) %>" ><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
                   <li class="<%= yield(:login) %>" ><%= link_to "Login", new_user_session_path %></li>
                   <li class="<%= yield(:signup) %>" ><%= link_to "Signup", new_user_registration_path %></li>
        <% end %>      
          
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


     

