

<% provide(:title, "Index") %>

<p id="notice"><%= notice %></p>



<h1>Listing Appointments</h1>

<!--- From here to -->

  <div class="table-responsive">
    <table id="index_table" class="display responsive" summary="Appointments list">
      <thead class="thead-inverse">

<!-- Here is new and can be deleted or modify -->

<table class="table">
<br>
<br>
<br>
  <thead>
    <tr>
      <th>Date</th>
      <th>Patient Name</th>
      <th>Text</th>
      <th>Actions</th>     
    </tr>
  </thead>
  <tbody>

    <% @appointments.each do |appointment| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= appointment.date %></td>
        <td><%= appointment.name %></td>
        <td><%= appointment.text %></td>
      
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Appointment', new_appointment_path %>

</div>

<%= javascript_tag("$(document).ready( function () {$('#index_table').DataTable();} );") %>
<%= javascript_tag("$('#index_table').DataTable( {responsive: true, fixedHeader: true} );") %>

</div>