<!DOCTYPE html>
<html>
<head>
  <title>Diary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<nav class="navbar navbar-inverse">
  <li><%= link_to "Home" root_path %></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</nav>
=======
	<nav class="navbar navbar-inverse">
  ...
</nav>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
>>>>>>> 20eb046742e593ca907fe6e6a0a9e5bead5583dd
<%= yield %>

</body>
</html>
